<%- layout('layouts/boilerplate-show') %>

<div class="row justify-content-center">
  <img
    class="w-50"
    src="<%= company.companyLogo.url %>"
    alt=""
    style="min-width: 200px"
  />
</div>
<hr />
<div class="row">
  <h2 class="display-4 text-center mb-3">
    Welcome to <%= company.companyName %>
  </h2>
</div>
<p class="text-center">
  Use the options below to browse the offices your company has registered.
</p>
<% if(currentUser.isAdmin){ %>
<p class="text-center mb-3">
  Users with admin permissions can edit the company, and add, edit or delete
  offices.
</p>

<div class="d-flex flex-wrap justify-content-center my-4">
  <a
    class="btn btn-outline-warning btn-sm m-2"
    href="/company/<%= company._id %>/edit"
    >Edit company</a
  >
  <form
    class="d-inline"
    action="/company/<%= company._id %>?_method=DELETE"
    method="POST"
  >
    <input
      class="btn btn-outline-danger btn-sm m-2"
      type="submit"
      value="Delete Company"
    />
  </form>
  <a
    href="/company/<%= company._id %>/newoffice"
    class="btn btn-outline-info btn-sm m-2"
    >Add an office</a
  >
</div>
<% } %>

<hr class="my-5" />

<% if(!company.offices.length){ %>
<div class="align-items-center">
  <h4 class="display-6 mb-4">You have not registered any offices yet!</h4>
  <div class="d-grid">
    <a
      href="/company/<%= company._id %>/newoffice"
      class="btn btn-outline-primary"
      >Add one now!</a
    >
  </div>
</div>

<% } else { %>

<h5 class="display-6 text-center mb-3">Your offices</h5>
<div class="d-flex justify-content-evenly flex-wrap">
  <% for(let i = 0; i < company.offices.length; i++){ %>
  <div class="card text-dark bg-light m-3" style="max-width: 18rem">
    <a href="/company/<%= company._id %>/<%= company.offices[i]._id %>">
      <div
        class="card-header text-center btn btn-outline-primary w-100 border border-primary"
      >
        View office
      </div>
    </a>

    <div class="card-body">
      <h5 class="card-title text-center">
        <%= company.offices[i].officeNickname %>
      </h5>
      <p class="card-text text-center">
        <%= company.offices[i].officeAddress.streetAddress %>
      </p>
    </div>

    <% if(currentUser.isAdmin){ %>
    <a href="/company/<%= company._id %>/<%= company.offices[i]._id %>/edit">
      <div
        class="card-footer text-dark text-center btn btn-outline-warning w-100 border border-warning"
      >
        Edit office
      </div>
    </a>
    <% } %>
  </div>
  <% } %>
</div>
<% } %>
